#githublogo{
    width: 60px;
    height: 60px;
}
#header{
 border: 1px solid lightgrey;
    background-color: aqua;
    padding: 10px;
}
.header-title{
    font-family: monospace;

}
#searchDiv{
    border: 1px solid lightgrey;
    background-color: #fff;
    padding: 10px;
}
